body{
  background-color:  hsl(30, 54%, 90%);
     font-family: 'Outfit', sans-serif;
  background-color: #f3e5d8; 
}
h1, h2, h3 {
  font-family: 'Young Serif', serif;
}


.container {
  background-color: #fff;    
  width: 35%;               
  margin: 0 auto;             /* centers it horizontally */
  padding: 25px;
  border-radius: 15px;       
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
  text-align: center;
}
  .container h1{
    display: flex;
    text-align: left;
    padding-left:20px ;
  }
  

.prep {
  text-align: left;
  margin-top: 20px;
  border-radius: 15px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* soft shadow border */
   text-align: center;
     padding: 5px;
}

.prep {
  background-color: #fff7fb; 
  border-radius: 10px; 
  padding: 15px 20px; 
  margin: 20px 0; 
  font-family: 'Poppins', sans-serif; 
  font-size: 15px;
  line-height: 1.6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05); 
}

.prep h3{
  color: #7b0046; 
  font-size: 17px;
  margin-bottom: 10px;
  padding-left: 0px;
  text-align: left;
  padding-left: 30px;
}

.prep ul {

  padding-left: 100px;
  margin: 0;
}

.prep li {
  margin-bottom: 5px;
 padding-left: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.ingredients h2{
  color: hsl(14, 45%, 36%); 
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
}

.ingredients ul {

  padding-left: 100px;
  margin: 0;
}

.ingredients li {
  margin-bottom: 5px;
 padding-left: 10px;
  align-items: center;
  justify-content: center;
  text-align: left; 
}

.instructions h2{
  color:hsl(14, 45%, 36%); /* dark pinkish-purple heading */
  font-size: 30px;
  padding-left: 0;
text-align: left;
 padding-left: 20px;
}

.line {
  padding: 10px;

  width: 100%;
  margin-top: 5px;
}

ol li::marker {
  color:#7b0046;/* your desired color */
  font-weight: bold;
}

.line1 {
  padding: 10px;

  width: 100%;
  margin-top: 5px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: #5f564d;
}

.nutrition-table tr {
  border-bottom: 1px solid #ddd;
}

.nutrition-table td {
  padding: 12px 8px;
  color: hsl(14, 45%, 36%);
}





