body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;              /* image left, text right  */
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
}

.left img {
    width: 319px;
    height: 100%;
    object-fit: cover;          /* makes image look like your example */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.descriptions {
    width: 340px;              /* FIXED WIDTH */
    padding: 35px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;     /* important */
}

.perfume{
    color: hsl(228, 12%, 48%);
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
 letter-spacing: 5px;
   text-align:left;
}

.descriptions .rate {
    color: hsl(158, 36%, 37%);

    font-size: 35px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
button:hover {
    background-color: hsl(158, 36%, 25%);
}

h1, h2, .title {
    font-family: 'Fraunces', serif;
}
p, .perfume, .rate {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.descriptions
button {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
}

