body {
  font-family: 'Hanken Grotesk', sans-serif;
   background-color: hsl(221, 100%, 96%);
}




.container {
  display: flex;
  justify-content: center;   /* center the two boxes horizontally */
  align-items: center;   /* align them at the top, not middle */
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  height: 100vh;
  box-sizing: border-box;
  
}
.container .left-side{
  width: 30%;
  border: 2px solid hsl(30, 38%, 92%);
  border-radius: 8px;

  box-sizing: border-box;
background-color: hsl(252, 100%, 67%) ;
min-height: 50%;      /* your fixed height */
  overflow: hidden;     /* prevents content from pushing out */
border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.score-circle {
    margin-left: 70px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score-circle h1 {
  font-size: 40px;
  margin: 0;
  color: white
}



.score-circle p {
  color: hsl(241, 100%, 89%);
  margin: 0;
  font-size: 14px;
}

.score-text{
    color: white;
}

.score-text p{
    color: hsl(241, 100%, 89%);
    font-size: 15px;
}

.container .left-side h3{
    color: hsl(241, 100%, 89%);
    
    
}
.container .left-side p{
    margin-left: 30px;
    margin-right: 30px;
}

.container .right-side{
  width: 30%;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  height: 50%;          /* your fixed height */
  overflow: hidden;
  margin-left: 10px; 
      /* prevents content from pushing out */
}



.container .right-side h3{
    
    text-align: left;
    margin-top: 0px;
}

.container .right-side .reaction {
   border: none;
   display: flex;
   justify-content: space-between;
margin-bottom: 10px;
   height: 40px;
   align-items: center;
   border-radius: 13px;
   background-color:hsla(0, 100%, 99%, 0.861) ;
   
}

.container .right-side .reaction p {
    font-size: 15px;
  margin-left: 20px;
  margin-right: 12px;
  padding: 0;      /* or small padding */
     color: hsl(0, 100%, 67%); /* let content size naturally */

}


.container .right-side .memory p{

    margin-left: 20px;
  margin-right: 10px;
  padding: 0; 
  color: hsl(39, 100%, 56%);
}

.container .right-side .verbal p{
  margin-left: 20px;
  margin-right: 10px;
  padding: 0; 
  color: hsl(166, 100%, 37%);

}

.container .right-side .visual p{
  margin-left: 20px;
  margin-right: 10px;
  padding: 0; 
  color: hsl(234, 85%, 45%);
}


.container .right-side .memory  {
        font-size: 15px;
 border:none;
   display: flex;
   justify-content: space-between;
margin-bottom: 10px;
   height: 40px;
   align-items: center;
   border-radius: 13px;
   background-color: hsl(34, 41%, 97%);
}

.container .right-side .verbal  {
        font-size: 15px;
   border: none;
   display: flex;
   justify-content: space-between;
margin-bottom: 10px;
   height: 40px;
   align-items: center;
   border-radius: 13px;
   background-color: hsl(171, 78%, 98%);
}

.container .right-side .visual  {
   border: none;
   display: flex;
   justify-content: space-between;
margin-bottom: 10px;
   height: 40px;
   align-items: center;
   border-radius: 13px;
   background-color: hsl(231, 30%, 95%);
       font-size: 15px;
}

.btn{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 23px;
}

.btn:hover{
    background-color: hsl(223, 31%, 20%);
}

.right-side .points p{
    font-weight: 700;
    letter-spacing: 2px;
}

.container .left-side {
    margin-right: -15px;   /* overlap amount */
    z-index: 2;           /* keep it above the left box */
    position: relative;
}
